<div class="outbox">
  <div class="boxleft">
    <br>
    <div><img class="center" src="assets/images/combined.png" alt=""></div>
    <br>
    <h1 class="title-rWOBkv">Welcome Back!</h1>
    <p class="title-rWOBkv" data-id="2313:37">Ready to dive back in? Sign in to access your dashboard.</p>
  </div>

  <div class="boxright">
    <br>
    <div class="txtdiv"><img class="centersm" src="assets/images/image-4@2x.png" alt="">
    <br>
    <h1 class="title-black">Forgot Password</h1>
    <p class="title-black">Please fill below information to login</p>
    <p class="title-black"></p>
  </div>
    <br>
    <p>
      <div class="txtdiv">
        <input type="password" name="password" [(ngModel)]="password" placeholder="Password" class="text-line" />
      </div>
      <hr>
      <div class="txtdiv">
        <input type="password" name="cpassword" [(ngModel)]="cpassword" placeholder="Confirm Password" class="text-line" />
      </div>
      <hr>
      <div class="txtdiv">
      <div class="frame-21-bC6iQH" (click)="login()" data-id="2313:21"> Login
      </div> 
     <hr>
     <div   >
       
        <span
        [routerLink]="['/auth/reset-password']"  class="span1-xwX1ta smalltext15bold">Forgot password? </span> &nbsp;&nbsp;&nbsp;
        <span
        [routerLink]="['/auth/signup']"  class="span2-xwX1ta smalltext15bold">Not an Existing user?  SignUp here </span>   
    </div>
     
           
      </div> 
     
  </div>
</div>