.table-responsive {
  max-height:280px;
}
.table-responsive2 {
  max-height:280px;
}
th {
  font-weight: 800;
  // width: 150px;
  position: sticky;
  top: 0;
  // border: 1px solid black;
}
.custom-select {
	position: sticky;
  width: 200px;
}

.custom-select select {
	appearance: none;
	-webkit-appearance: none;
	width: 200px;
	font-size: 16px;
 border: 2px solid #0066cc;
	padding: 5px 10px 5px 10px;
	background-color: #BBBCFC;
	border: 2px solid #073376;
	border-radius: 15px;
	color: #1a0101;
	cursor: pointer;
	outline: none;
	box-shadow: 2px 2px 2px 0px #E2E2E2;
}

.custom-select select:focus {
	background: #BBBCFC;
	border: 1px solid #FFFFFF;
	border-radius: 15px;
}

.custom-select::after {
	content: "";
	position: absolute;
	pointer-events: none;
	top: 50%;
	left: 180px;
	transform: translate(0, -50%);
	width: 14px;
	height: 14px;
	background-color: #0b0000;
	clip-path: polygon(50% 80%, 0 20%, 100% 20%);
}
.custom-select-org {
	position: sticky ;
  width: 200px;

  
}

.custom-select-org select {
	appearance: none;
	-webkit-appearance: none;
	width: 200px;
	font-size: 16px;
 
	padding: 5px 10px 5px 10px;
	background-color: #F2C479;
	border: 2px solid #04347b;
	border-radius: 15px;
	color: #1a0101;
	cursor: pointer;
	outline: none;
	box-shadow: 2px 2px 2px 0px #E2E2E2;
}

.custom-select-org select:focus {
	background: #F2C479;
	border: 1px solid #FFFFFF;
	border-radius: 15px;
}

.custom-select-org::after {
	content: "";
	position: absolute;
	pointer-events: none;
	top: 50%;
	left: 180px;
  border: 2px solid #0066cc;
	transform: translate(0, -50%);
	width: 14px;
	height: 14px;
	background-color: #0b0000;
	clip-path: polygon(50% 80%, 0 20%, 100% 20%);
}
td{
  text-align: start;
  color: #070707;
  font-size: small;
   font-weight: 400;
  // padding: 5px;
  // box-shadow: inset 0 4px 10px rgba(182, 180, 247, 0.8);
  width: 100px;
  border: 1px dotted black;
  // overflow:visible;

}
table.a {
  table-layout: auto;
  width: 30px;  
}

body {
  background: #343E59;
  color: #777;
  font-family: Montserrat, Arial, sans-serif;
}

.body-bg {
  background: #F3F4FA !important;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
}
 
.content-area {
  max-width: 1280px;
  margin: 0 auto;
}

.box {
  background-color: #2B2D3E;
  padding: 25px 20px;
  height: 140px;
}
.boxwh {
  background-color: rgba(245, 241, 237, 0.858);
  padding: 25px 20px;
  height: 420px;
  border-radius: 25px;
}
.boxwhsmall
{
  background-color: rgba(171, 92, 13, 0.858);
  padding: 25px 20px;
  height: 220px;
  border-radius: 25px;
}
.shadow {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}
.sparkboxes .box {
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 1px 1px #666;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  position: relative;
  border-radius: 25px;
}
.card .box {
  position: absolute;
  color: #fff;
 
  transform: scale(0.7) translate(-22px, 20px);
}
.sparkboxes .box .details {
  position: absolute;
  color: #fff;
 
  transform: scale(0.7) translate(-22px, 20px);
}
.sparkboxes strong {
  position: relative;
  z-index: 3;
  top: -8px;
  color: #fff;
}

th {
  background-color: #6579CF;
  color: white;
}
.sparkboxes .box1 {
  background-image: linear-gradient( 135deg, #6579CF 1%, #6579CF 100%);
}

.sparkboxes .box2 {
  background-image: linear-gradient( 135deg, #2AFADF 1%, #0c6da2 100%);
}

.sparkboxes .box3 {
  background-image: linear-gradient( 135deg, #FFD3A5 1%, #0c6da2 100%);
}

.sparkboxes .box4 {
  background-image: linear-gradient( 135deg, #EE9AE5 1%, #0c6da2 100%);
} 