<div class="row">
  <div class="custom-filter "><img src="assets/images/funnel.svg" alt=""></div>
  <div class="custom-select-pink ">
    <select name="taskid" id="taskid" [(ngModel)]="taskid" (ngModelChange)="loadruniddata(false)">
      <option value="0" disabled selected>Task</option>
      <option *ngFor="let taskmain of taskmainArray" [value]="taskmain.taskid">
        {{taskmain.taskname}}--{{taskmain.taskid}}
      </option>
    </select>
    <div class="select-arrow"></div>
  </div>&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="custom-select-org "> <select name="runidselect" id="runidselect" [(ngModel)]="runidselect"
      (ngModelChange)="loadrunid()">
      <option value="0" disabled selected> RunID</option>
      <option *ngFor="let dplisten of dplistenArray" [value]="dplisten.runid">
        Run Id - {{dplisten.runid}}
      </option>
    </select>
    <div class="select-arrow"></div>
  </div>
  &nbsp;
  <div class="custom-filter ">
    <button mat-raised-button color="primary" matTooltipPosition="right" (click)="goBack(this.runidselect,this.taskid)"
      aria-tooltip="">
      Back
    </button>
  </div>

</div>


<div style="margin-left: 30%; margin-right: 30% ;text-align: justify;">
  <b style="vertical-align: top;"> {{taskMainDTO.usernamesys1}}</b>&nbsp;&nbsp;&nbsp;<img
    src="assets/images/dbgreen.svg" alt="" class="img-fluid">&nbsp;&nbsp;&nbsp;&nbsp;
  <img src="assets/images/garr.svg" alt="" class="img-fluid">&nbsp;&nbsp;&nbsp;&nbsp;
  <img src="assets/images/dbred.svg" alt="" class="img-fluid"> <b
    style="vertical-align: top;">{{taskMainDTO.usernamesys2}}</b>
</div>

<div style="border:1px solid rgb(216, 190, 190);" class="row">

  <div class="table-responsive ">

    <table *ngIf="this.tname" style="height:250px" class="table">
      <col width='40px' />
      <thead>
        <tr  style="border-bottom:0.2px dotted rgb(215, 212, 212)">

          <th class="divcsfull">#</th>
          <th class="divcsfull"> Table <img src="assets/images/dbgreenmin.svg" alt="" class="img-fluid">
            ({{tablecount}})</th>
          <th class="divcsfull">Difference ({{diffcount}})</th>

          <th class="divcsfull">OnlyinSrc</th>
          <th class="divcsfull">Identical</th>
          <th class="divcsfull">Difference ({{diffcount}})</th>
          <th class="divcsfull"> Table <img src="assets/images/dbredmin.svg" alt="" class="img-fluid"> ({{tablecount}})
          </th>


        </tr>
      </thead>
      <tbody>
        <tr  style="border-bottom:0.2px dotted rgb(215, 212, 212)" *ngFor="let item of this.groupedoriginal | keyvalue; let m = index">
          <td class="spaced">{{m+1}}</td>
          <td class="spaced" align="left"><img (click)="filterTable(item.key)" src="assets/images/tabm.png" alt=""
              class="img-fluid">&nbsp;<button (click)="filterTable(item.key)" style="color:blue;font-size: small;"
              mat-button color="primary" matTooltipPosition="right" aria-tooltip="">
              {{item.key}}
            </button></td>
          <td class="spaced" align="center">{{(item.value | keyvalue ).length}}</td>

          <td class="spaced">0</td>
          <td class="spaced">0</td>
          <td align="center">{{(item.value | keyvalue ).length}}</td>
          <td class="spaced"><img (click)="filterTable(item.key)" src="assets/images/tabm.png" alt=""
              class="img-fluid"><button (click)="filterTable(item.key)" style="color:bluefont-size: small;" mat-button
              color="primary" matTooltipPosition="right" aria-tooltip="">
              {{item.key}}
            </button>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br>
<span *ngIf="this.tname" >
  <b>{{ this.tname}}</b>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/tab.png" alt=""
    class="img-fluid">&nbsp;&nbsp;&nbsp;&nbsp;

  <select class=" " name="columnname" id="columnname" [(ngModel)]="columnname">
    <option *ngFor="let cn of this.colnames" [value]="cn">
      {{convert(cn) }}
    </option>
  </select>
  <!-- (keydown)="searchchange()" -->
  <input type="text" id="m-search" class="" name="searchtext" id="searchtext" [(ngModel)]="searchtext"
    placeholder="Search . . ." [style.width]="'330px'">
  <span class="input-group-append search-btn btn ">
    <i (click)="search()" class="feather icon-search input-group-text"></i>
  </span>

</span>
<div style="border:1px solid rgb(216, 214, 214);" class="row">
 
<div class="table-responsive">
  <table class="table" *ngIf="tablemap">
   <tr  style="border-bottom:0.2px dotted rgb(215, 212, 212)">
      <th class="divcs">
        <div class="divcs">
          <h4>#</h4>
        </div>
      </th>
     
      <th class="divcs" *ngFor="let kee  of this.colnames; let zz = index  ">
        <div class="divcs" *ngIf="convertcheck(kee) == 'src' ">
          <span style="display:inline-block;">
            {{convert(kee)}}<img src="assets/images/dbgreenmin.svg" alt="" class="img-fluid">

          </span>

        </div>
        <div class="divcs" *ngIf="convertcheck(kee) == 'tar' ">
          <span style="display:inline-block;">
            {{convert(kee)}}<img src="assets/images/dbredmin.svg" alt="" class="img-fluid">

          </span>
        </div>
        <div class="divcs" *ngIf="convertcheck(kee) == 'srcb' ">
          {{convert(kee) }}
        </div>
        <div class="divcs" *ngIf="convertcheck(kee) == 'tarb' ">
          {{convert(kee) }}
        </div>
        <div class="divcs" *ngIf="convertcheck(kee) == 'rec' ">
          <span style="display:inline-block;">
            {{convert(kee)}} <img src="assets/images/dbgreenmin.svg" alt="" class="img-fluid">

          </span>
        </div>
        <div class="divcs" *ngIf="convertcheck(kee) == 'tarrec' ">
          <span style="display:inline-block;">
            {{convert(kee)}} <img src="assets/images/dbredmin.svg" alt="" class="img-fluid">

          </span>
        </div>
        <div class="divcs" *ngIf="convertcheck(kee) == 'sp' ">
          &nbsp;
        </div>
      </th>


    </tr>
    <tbody>
      <tr  style="border-bottom:0.2px dotted rgb(215, 212, 212);" *ngFor="let data of tablemap; let i = index">
        <td width="30px">{{i+1}}</td>
         
        <td class="spaced" *ngFor="let cell of data; let j = index">


          <div *ngIf="cell != ' ' ">
            <div  style="height: 50%;" *ngIf="j==0">
              <button   mat-button color="primary" #tooltip="matTooltip" matTooltip="{{read(cell)}}"
                matTooltipPosition="right" (click)="onMaintrainid(cell,this.runidselect,this.taskid)" aria-tooltip="">
                <pre style="color: blue;">   {{convertmin(read(cell))}}</pre>
              </button>
            </div>
            <div style="height: 50%;" *ngIf="j==1">
              <button    mat-button color="warn" #tooltip="matTooltip" matTooltip="{{read(cell)}}"
                matTooltipPosition="right" aria-tooltip="">
                <pre  style="color: red;">   {{convertmin(read(cell))}}</pre>
              </button>


            </div>
            <div style="height: 50%;" *ngIf="j>1 && this.colnames[j].toString().includes('.___2')">
              <button   mat-button color="warn" #tooltip="matTooltip" matTooltip="{{cell}}" matTooltipPosition="right"
                aria-tooltip="">
                <pre  style="color: red;">  {{convertmin(read(cell))}}</pre>
              </button>
            </div>
            <div style="width: 50%;" *ngIf="j>1 && this.colnames[j].toString().includes('.___1')">
              <button    mat-button color="primary" #tooltip="matTooltip" matTooltip="{{cell}}" matTooltipPosition="right"
                aria-tooltip="">
              <pre  style="color: blue;">  {{convertmin(read(cell))}}</pre>
              </button>
            </div>
          </div>
          <div  
            *ngIf="cell == ' ' && this.colnames[j] && (this.colnames[j].toString().includes('.___1') || this.colnames[j].toString().includes('.___2'))">
            <button style="color:white" mat-button color="primary" matTooltipPosition="right" aria-tooltip="">

            </button>
          </div>

        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>