<div class="container-center-horizontal">
  <div class="login-step-1 screen " data-id="2313:9">
    <div class="frame-32-pODnJY" data-id="2313:10">
      <div class="frame-33-T4nFxl" data-id="2313:11"></div>
    </div><img class="x1-pODnJY" data-id="2313:12"
      src="assets/images/1.svg"
      anima-src="assets/images/1.svg"
      alt="1">
    <div class="frame-1171278972-pODnJY" data-id="2313:15"></div>
    <div class="contact-form-pODnJY" data-id="2313:16">
      <div class="rectangle-27824-rWOBkv" data-id="2313:17"></div>
      <div class="frame-1171278998-rWOBkv" data-id="2313:18">
        <div class="group-3465125-DyEbn2" data-id="2313:19">
          <div class="frame-21-bC6iQH" (click)="login()" data-id="2313:20">
            <div class="login-BmwCsY" (click)="login()" data-id="2313:21"> Login
              
             </div> 
          </div>
          <div class="frame-13-bC6iQH frame-13" data-id="2313:24">
            <div class="frame-11-zxGJVd" data-id="2313:25">
              <input type="username" name="username" [(ngModel)]="username"   placeholder="User Name" class="text-line" />
            </div>
            <div class="frame-13-zxGJVd frame-13" data-id="2313:28">
              <input type="password" name="password" [(ngModel)]="password"   placeholder="Password" class="text-line" />
            </div>
            <img class="image-4-DyEbn2" data-id="2313:35" src="assets/images/image-4@2x.png" alt="image 4">
          </div>
          <p class="please-fill-below-information-to-login-bC6iQH" data-id="2313:31">Please fill below information to
            login</p>
          <p class="log-in-to-your-account-bC6iQH" data-id="2313:32">Log In to Your Account</p>
          
          <div [routerLink]="['/auth/reset-password']" class="forgot-password-bC6iQH smalltext15bold" data-id="2313:33">Forgot password?</div>
          <p class="not-an-existing-user-sign-un-here-bC6iQH smalltext15bold" data-id="2313:34"><span
            [routerLink]="['/auth/signup']"  class="span0-xwX1ta smalltext15bold">Not an existing user? </span><span
            [routerLink]="['/auth/signup']"  class="span1-xwX1ta smalltext15bold"> SignUp here</span></p>
        </div> 
      </div>
      <h1 class="title-rWOBkv" data-id="2313:36">Welcome Back!</h1>
      <p class="ready-to-dive-back-i-rWOBkv" data-id="2313:37">Ready to dive back in? Log in to access your dashboard.
      </p>
      <div class="group-3465126-rWOBkv" data-id="2313:38">
        <div class="frame-1171279030-6BWejd" data-id="2313:39">
          <div class="chart-container-Y4QqW4" data-id="2313:40">
            <div class="area-charts-grid-lines-and-labels-ykGLAO" data-id="2313:41">
              <div class="y-axis-labels-and-grid-lines-pdariD" data-id="2313:42">
                <div class="grid-lines-F3ugBG" data-id="2313:43">
                  <div class="grid-line-1-Sxx8tw" data-id="2313:44"></div>
                  <div class="grid-line-2-Sxx8tw" data-id="2313:45"></div>
                  <div class="grid-line-3-Sxx8tw" data-id="2313:46"></div>
                  <div class="grid-line-4-Sxx8tw" data-id="2313:47"></div>
                </div>
                <div class="y-axis-labels-F3ugBG" data-id="2313:48">
                  <div class="x600-AivcdB valign-text-middle roboto-normal-black-9px" data-id="2313:49">600</div>
                  <div class="x400-AivcdB valign-text-middle roboto-normal-black-9px" data-id="2313:50">400</div>
                  <div class="x200-AivcdB valign-text-middle roboto-normal-black-9px" data-id="2313:51">200</div>
                  <div class="x0-AivcdB valign-text-middle roboto-normal-black-9px" data-id="2313:52">0</div>
                </div>
              </div>
              <div class="x-axis-labels-and-ticks-pdariD" data-id="2313:53">
                <div class="x-axis-ticks-WTJK8T" data-id="2313:54">
                  <div class="tick-container" data-id="2313:55">
                    <div class="indicator" data-id="2313:56"></div>
                  </div>
                  <div class="tick-container" data-id="2313:57">
                    <div class="indicator" data-id="2313:58"></div>
                  </div>
                  <div class="tick-container" data-id="2313:59">
                    <div class="indicator" data-id="2313:60"></div>
                  </div>
                  <div class="tick-container" data-id="2313:61">
                    <div class="indicator" data-id="2313:62"></div>
                  </div>
                </div>
                <div class="x-axis-labels-WTJK8T" data-id="2313:63">
                  <div class="x-axis-label-container" data-id="2313:64">
                    <div class="nov-5-yfkU8d valign-text-middle roboto-normal-black-9px" data-id="2313:65">Nov 5</div>
                  </div>
                  <div class="x-axis-label-container" data-id="2313:66">
                    <div class="x15-g2xib6 valign-text-middle roboto-normal-black-9px" data-id="2313:67">15</div>
                  </div>
                  <div class="x-axis-label-container" data-id="2313:68">
                    <div class="x25-kvFJD1 valign-text-middle roboto-normal-black-9px" data-id="2313:69">25</div>
                  </div>
                  <div class="x-axis-label-container" data-id="2313:70">
                    <div class="dec-5-tfcfaq valign-text-middle roboto-normal-black-9px" data-id="2313:71">Dec 5</div>
                  </div>
                </div>
              </div><img class="area-charts-pdariD" data-id="2313:72"
                src="assets/images/area-charts.svg"
                anima-src="assets/images/area-charts.svg"
                alt="Area Charts">
            </div>
          </div>
        </div><img class="calendar-with-pencil-monstera-leaf-1-6BWejd" data-id="2313:75"
          src="assets/images/calendar-with-pencil-monstera-leaf-1.png"
          anima-src="assets/images/calendar-with-pencil-monstera-leaf-1.png"
          alt="calendar-with-pencil-monstera-leaf 1">
        <div class="frame-1171279029-6BWejd" data-id="2313:76">
          <div class="donut-chart-APz9nJ" data-id="2313:77"><img class="slice-1-NYxPW6" data-id="2313:78"
              src="assets/images/slice-1.svg"
              anima-src="assets/images/slice-1.svg"
              alt="Slice 1"><img class="slice-2-NYxPW6" data-id="2313:79"
              src="assets/images/slice-2.svg"
              anima-src="assets/images/slice-2.svg"
              alt="Slice 2"><img class="sllice-3-NYxPW6" data-id="2313:80"
              src="assets/images/sllice-3.svg"
              anima-src="assets/images/sllice-3.svg"
              alt="Sllice 3"><img class="slice-4-NYxPW6" data-id="2313:81"
              src="assets/images/slice-4.svg"
              anima-src="assets/images/slice-4.svg"
              alt="Slice 4"><img class="slice-5-NYxPW6" data-id="2313:82"
              src="assets/images/slice-5.svg"
              anima-src="assets/images/slice-5.svg"
              alt="Slice 5"><img class="slice-6-NYxPW6" data-id="2313:83"
              src="assets/images/slice-6.svg"
              anima-src="assets/images/slice-6.svg"
              alt="Slice 6">
            <div class="metric-and-caption-containers-NYxPW6" data-id="2313:84">
              <div class="metric-container-Mora98" data-id="2313:85">
                <div class="metric-qFNy4W" data-id="2313:86">84%</div>
              </div>
              <div class="caption-container-Mora98" data-id="2313:87">
                <div class="caption-x4QCai" data-id="2313:88">used</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>