<ngb-accordion [closeOthers]="true" activeIds="static-1" class="next-accordion">
  <ngb-panel id="static-1">
    <ng-template ngbPanelTitle>
      <h5><a href="javascript:">SEARCH PANEL</a></h5>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Task ID</label>

          <select class="form-select" name="taskid" id="taskid" [(ngModel)]="taskid"
            (ngModelChange)="loadruniddata(false)">
            <option value="0" disabled selected>Select Task</option>
            <option *ngFor="let taskmain of taskmainArray" [value]="taskmain.taskid">
              {{taskmain.taskname}} ---> {{taskmain.taskid}}
            </option>
          </select>
        </div>

      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleFormControlSelect2">Run ID</label>
          <select class="form-select" name="runidselect" id="runidselect" [(ngModel)]="runidselect"
            (ngModelChange)="loadrunid()">
            <option value="0" disabled selected>Select RunID</option>
            <option *ngFor="let dplisten of dplistenArray" [value]="dplisten.runid">
              Run Id ---> {{dplisten.runid}}
            </option>
          </select>
        </div>

      </div>
 
      <div class="table-responsive ">
        <table class="table table-bordered table-sm">
          <thead>
            <tr class="table-secondary">

              <th>TaskName</th>
              <th>TaskId</th>
              <th>Type</th>
              
              <th>Jdbcurlsys1</th>
              <th>Jdbcurlsys2</th>
              <th>usernamesys1</th>
              <th>usernamesys2</th>
              <th>dbtypesys1</th>
              <th>tablenamesys1</th>
              <th>dbtypesys2</th>
              <th>tablenamesys2</th>
              
              <th>RowCount</th>
              <th>Filelocation1</th>
              <th>Filelocation2</th>

            </tr>
          </thead>
          <tbody>
            <tr class="table-light">
              
              <td>{{dplistenentry.taskname}}</td>
              <td>{{dplistenentry.taskid}}</td>
  
              <td>{{dplistenentry.sys1type}}</td>
             
  
              <td>{{dplistenentry.jdbcurlsys1}}</td>
              <td>{{dplistenentry.jdbcurlsys2}}</td>
              <td>{{dplistenentry.usernamesys1}}</td>
              <td>{{dplistenentry.usernamesys2}}</td>
              <td>{{dplistenentry.dbtypesys1}}</td>
              <td>{{dplistenentry.tablenamesys1}}</td>
              <td>{{dplistenentry.dbtypesys2}}</td>
              <td>{{dplistenentry.tablenamesys2}}</td>
             
              <td>{{dplistenentry.rowcount}}</td>
              <td>{{dplistenentry.filelocation}}</td>
              <td>{{dplistenentry.filelocationt2}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>


<div class="row">

  <br>
  <div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Comparision" [options]="false">

        <div class="row">

          <div class="col-md-12">
            <div class="input-group">
              <input type="text" (keydown)="searchchange()" id="m-search" class="form-control" name="searchtext" id="searchtext" [(ngModel)]="searchtext" placeholder="Search . . ." [style.width]="'330px'">
              <span class="input-group-append search-btn btn btn-primary">
                <i (click)="search()" class="feather icon-search input-group-text"></i>
              </span>
            </div>
            <ngb-accordion  [closeOthers]="true" activeIds="static-1"  class="next-accordion">
              <ngb-panel *ngFor="let item of this.grouped | keyvalue; let m = index" id="static-{{m+1}}">
                <ng-template ngbPanelTitle>
                  <h5><a href="javascript:">{{item.key}}</a></h5>
                </ng-template>
                <ng-template ngbPanelContent>

                  <ngb-accordion    [closeOthers]="true"    class="next-accordion">
                    <ngb-panel  *ngFor="let iteminner of item.value | keyvalue; let k = index" id="staticl1-{{k+1}}">
                      <ng-template    ngbPanelTitle>
                        <h5><a href="javascript:">{{iteminner.key.split("|")[1]}}</a></h5><i (click)="onMaintrainid(iteminner.key,dplistenentry.runid,dplistenentry.taskid)" class="feather icon-arrow-right"></i>
                      </ng-template>
                      <ng-template    ngbPanelContent>
                         
                        <table   style="margin-bottom: 0px;"
                        class="table table-bordered table-sm">
                        <ng-template [ngIf]="k==0">
                          <thead>
                            <tr class="table-secondary">
                              <th>#</th>
                              <th colspan="3">Base System</th>
                              <th>#</th>
                              <th colspan="3">Updated System</th>
                            </tr>
                          </thead>
                        </ng-template>
                        <tbody>
                          <!-- <tr class="table-success">                        
                            <td><b>TransactionID</b></td>
                            <td colspan="6"> <a style="width:96%;text-align: left; vertical-align: middle; color: blue;"
                                (click)="onMaintrainid(iteminner.key,dplistenentry.runid,dplistenentry.taskid)"><u>{{iteminner.key.split("|")[1]}}</u></a>
                            </td>
                          </tr> -->
                          <tr class="table-light" *ngFor="let diffobj  of $any(iteminner).value; let i = index">                         
                            <!-- <td></td> -->
                            <td>{{i+1}}</td>
                            <td><input type="text" style="width:96%;text-align: left; vertical-align: middle; color: blue;"
                                value="{{diffobj.column}}" readonly></td>
                            <td><input type="text"
                                style="width:96%;text-align: left; vertical-align: middle; color: rgb(5, 92, 57);"
                                value="{{diffobj.oldval}}" readonly></td>
                            <td>{{i+1}}</td>
                            <td><input type="text" style="width:96%;text-align: left; vertical-align: middle; color: blue;"
                                value="{{diffobj.column}}" readonly></td>
                            <td><input type="text" style="width:96%;text-align: left; vertical-align: middle; color: red;"
                                value="{{diffobj.newval}}" readonly></td>
                          </tr>
                        </tbody>
                      </table>
                      </ng-template>
                    </ngb-panel>
      
                  </ngb-accordion>
                  

                </ng-template>
              </ngb-panel>

            </ngb-accordion>



          </div>
        </div>

      </app-card>
    </div>
  </div>