ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
  }

  .v2311_73 {
    width: 72px;
    height: 72px;
    // background: url("../../../../../assets/images/v2311_73.png");
    opacity: 1;
    position: absolute;
    top: 32px;
    left: 110px;
    border-radius: 50%;
  }
  .v2311_74 {
    width: 122px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 116px;
    left: 87px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }  
  .minmenu{
    width: 100px;
    color: rgb(100, 10, 10);
    position: sticky;
    top:  0px;
    left: 0px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }  