<div class="row">
  <div class="col-md-6">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Task ID</label>
        
        <select class="form-control" name="taskid" id="taskid" [(ngModel)]="taskid" (ngModelChange)="loadruniddata()">
            <option *ngFor="let taskmain of taskmainArray" [value]="taskmain.taskid">
              {{taskmain.taskname}} ---> {{taskmain.taskid}}
            </option>
        </select>
      </div>
   
  </div>
  <div class="col-md-6">
      <div class="form-group">
        <label for="exampleFormControlSelect2">Run ID</label>
        <select class="form-control" name="runidselect" id="runidselect" [(ngModel)]="runidselect" (ngModelChange)="loadrunid()" >
            <option *ngFor="let dplisten of dplistenArray" [value]="dplisten.runid">
             Run Id ---> {{dplisten.runid}}
            </option>
        </select>
      </div>
      
    </div>
  </div>
  <hr>
  <div class="table-responsive ">
    <table class="table table-bordered table-sm">
      <thead>
        <tr class="table-secondary">
           
          <th>TaskName</th>
            <th>TaskId</th>
            <th>Type</th>
            
            <th>Jdbcurlsys1</th>
            <th>Jdbcurlsys2</th>
            <th>usernamesys1</th>
            <th>usernamesys2</th>
            <th>dbtypesys1</th>
            <th>tablenamesys1</th>
            <th>dbtypesys2</th>
            <th>tablenamesys2</th>
            
            <th>RowCount</th>
            <th>Filelocation1</th>
            <th>Filelocation2</th>

        </tr>
      </thead>
      <tbody>
        <tr class="table-light" >
           
        
          
          <td>{{dplistenentry.taskname}}</td>
          <td>{{dplistenentry.taskid}}</td>

          <td>{{dplistenentry.sys1type}}</td>
         

          <td>{{dplistenentry.jdbcurlsys1}}</td>
          <td>{{dplistenentry.jdbcurlsys2}}</td>
          <td>{{dplistenentry.usernamesys1}}</td>
          <td>{{dplistenentry.usernamesys2}}</td>
          <td>{{dplistenentry.dbtypesys1}}</td>
          <td>{{dplistenentry.tablenamesys1}}</td>
          <td>{{dplistenentry.dbtypesys2}}</td>
          <td>{{dplistenentry.tablenamesys2}}</td>
         
          <td>{{dplistenentry.rowcount}}</td>
          <td>{{dplistenentry.filelocation}}</td>
          <td>{{dplistenentry.filelocationt2}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-responsive ">
    <table class="table table-bordered table-sm">
      <thead>
        <tr class="table-secondary">
          <th>#</th>
          <th>Oldtranid</th>
          <th>Newtranid</th>
          <th>Difference</th>

          <th>DifferenceCount</th>
          <th>View</th>
          

        </tr>
      </thead>
      <tbody>
        <tr class="table-light" *ngFor="let diffval of diffTableDTOArray; let i = index">
          <td>{{i+1}}</td>
          
          <td>{{diffval.maintranid.split("|")[2]}}</td>
          <td>{{diffval.newtranid.split("|")[2]}}</td>

          <td>{{diffval.difference}}</td>
          <td>{{diffval.countval}}</td>
          <td><button type="button" (click)="myClickFunction(diffval.maintranid)" class="btn btn-success" >View</button></td>           
        </tr>
      </tbody>
    </table>
  </div>