.table-responsive {
    max-height:280px;
}
.table-responsive2 {
    max-height:280px;
}
th {
    font-weight: 800;
    // width: 150px;
    position: sticky;
    top: 0;
    // border: 1px solid black;
  }
  
 td{
    text-align: start;
    color: #070707;
    font-size: small;
     font-weight: 400;
    // padding: 5px;
    // box-shadow: inset 0 4px 10px rgba(182, 180, 247, 0.8);
    width: 100px;
   // border: 1px dotted rgb(179, 172, 172);
    // overflow:visible;

}
table.a {
    table-layout: auto;
    width: 30px;  
  }
 