<select class=" " name="taskid" id="taskid" [(ngModel)]="taskid" (ngModelChange)="loadruniddata(false)">
  <option value="0" disabled selected>Select Task</option>
  <option *ngFor="let taskmain of taskmainArray" [value]="taskmain.taskid">
    {{taskmain.taskname}} ---> {{taskmain.taskid}}
  </option>
</select>
<select class="" name="runidselect" id="runidselect" [(ngModel)]="runidselect" (ngModelChange)="loadrunid()">
  <option value="0" disabled selected>Select RunID</option>
  <option *ngFor="let dplisten of dplistenArray" [value]="dplisten.runid">
    Run Id ---> {{dplisten.runid}}
  </option>
</select>

<div style="margin-left: 40%; margin-right: 30%">
  <b> Oracle OldSYS</b>&nbsp;&nbsp;&nbsp;<img src="assets/images/dbgreen.svg" alt=""
    class="img-fluid">&nbsp;&nbsp;&nbsp;&nbsp;
  <img src="assets/images/garr.svg" alt="" class="img-fluid">&nbsp;&nbsp;&nbsp;&nbsp;
  <img src="assets/images/dbred.svg" alt="" class="img-fluid"> <b>Oracle NewSYS</b>
</div>

<div class="row">

  <div class="table-responsive ">

    <table border="3" style="height:200px" class="table">
      <thead>
        <tr class="table-secondary">

          <th>#</th>
          <th> Table  <img src="assets/images/dbgreenmin.svg" alt="" class="img-fluid"> ({{tablecount}})</th>
          <th>Difference   ({{diffcount}})</th>

          <th>OnlyinSrc</th>
          <th>Identical</th>
          <th>Difference   ({{diffcount}})</th>
          <th> Table  <img src="assets/images/dbredmin.svg" alt="" class="img-fluid">  ({{tablecount}})</th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.groupedoriginal | keyvalue; let m = index">
          <td width="15%">{{m+1}}</td>
          <td width="15%" align="left"><img (click)="filterTable(item.key)" src="assets/images/tabm.png" alt=""
              class="img-fluid">&nbsp;<button (click)="filterTable(item.key)" style="color:blue;font-size: small;"
              mat-stroked-button color="primary" matTooltipPosition="right" aria-tooltip="">
              {{item.key}}
            </button></td>
          <td align="center">{{(item.value | keyvalue ).length}}</td>

          <td>0</td>
          <td>0</td>
          <td align="center">{{(item.value | keyvalue ).length}}</td>
          <td width="15%"><img (click)="filterTable(item.key)" src="assets/images/tabm.png" alt=""
              class="img-fluid"><button (click)="filterTable(item.key)" style="color:bluefont-size: small;"
              mat-stroked-button color="primary" matTooltipPosition="right" aria-tooltip="">
              {{item.key}}
            </button>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br>
<span style="margin-left: 5%; margin-right: 10%">
  <b>{{ this.tname}}</b>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/tab.png" alt=""
    class="img-fluid">&nbsp;&nbsp;&nbsp;&nbsp;
  <img src="assets/images/garr.svg" alt="" class="img-fluid">&nbsp;&nbsp;&nbsp;&nbsp;
  <img src="assets/images/tab.png" alt="" class="img-fluid">&nbsp;&nbsp;&nbsp;&nbsp; <b>{{
    this.tname}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <select class=" " name="columnname" id="columnname" [(ngModel)]="columnname">
    <option *ngFor="let cn of this.colnames" [value]="cn">
      {{convert(cn) }}
    </option>
  </select>
  <!-- (keydown)="searchchange()" -->
  <input type="text" id="m-search" class="" name="searchtext" id="searchtext" [(ngModel)]="searchtext"
    placeholder="Search . . ." [style.width]="'330px'">
  <span class="input-group-append search-btn btn ">
    <i (click)="search()" class="feather icon-search input-group-text"></i>
  </span>

</span>

<div class="table-responsive">
  <table border="3" class="table table-bordered table-sm" *ngIf="tablemap">
    <tr class="table-secondary">
      <th width="30px">#</th>
      <th width="30px" *ngFor="let kee  of this.colnames; let zz = index  ">
        <div *ngIf="convertcheck(kee) == 'src' ">
          <b> {{convert(kee) }}</b><img src="assets/images/dbgreenmin.svg" alt="" class="img-fluid">
        </div>
        <div *ngIf="convertcheck(kee) == 'tar' ">
          <b> {{convert(kee) }}</b><img src="assets/images/dbredmin.svg" alt="" class="img-fluid">
        </div>
        <div *ngIf="convertcheck(kee) == 'srcb' ">
          <b> {{convert(kee) }}</b>
        </div>
        <div *ngIf="convertcheck(kee) == 'tarb' ">
          <b> {{convert(kee) }}</b>
        </div>
        <div *ngIf="convertcheck(kee) == 'rec' ">
          <b> {{convert(kee) }}</b><img src="assets/images/dbgreenmin.svg" alt="" class="img-fluid">
        </div>
        <div *ngIf="convertcheck(kee) == 'tarrec' ">
          <b> {{convert(kee) }}</b><img src="assets/images/dbredmin.svg" alt="" class="img-fluid">
        </div>
        <div style="background-color:white" *ngIf="convertcheck(kee) == 'sp' ">
          &nbsp;
        </div>
      </th>


    </tr>
    <tbody>
      <tr *ngFor="let data of tablemap; let i = index">
        <td width="30px">{{i+1}}</td>
        <td   *ngFor="let cell of data; let j = index">
          

          <div *ngIf="cell != ' ' ">
            <div style="background-color:lightblue" *ngIf="j==0">
              <button mat-stroked-button color="primary" #tooltip="matTooltip" matTooltip="{{read(cell)}}"
                matTooltipPosition="right" (click)="onMaintrainid(cell,this.runidselect,this.taskid)"
                aria-tooltip="">
                {{convertmin(read(cell))}}
              </button>             
            </div>
            <div style="background-color:lightblue" *ngIf="j==1">
              <button mat-stroked-button color="warn" #tooltip="matTooltip" matTooltip="{{read(cell)}}"
                matTooltipPosition="right"  
                aria-tooltip="">
                {{convertmin(read(cell))}}
              </button>


            </div>
            <div style="background-color:lightblue" *ngIf="j>1 && this.colnames[j].toString().includes('.___2')">
              <button mat-stroked-button color="warn" #tooltip="matTooltip" matTooltip="{{cell}}"
                matTooltipPosition="right" aria-tooltip="">
                {{convertmin(cell)}}
              </button>
            </div>
            <div style="background-color:lightblue"  *ngIf="j>1 && this.colnames[j].toString().includes('.___1')">
              <button mat-stroked-button color="primary" #tooltip="matTooltip" matTooltip="{{cell}}"
                matTooltipPosition="right" aria-tooltip="">
                 {{convertmin(cell)}}
              </button>
            </div>
          </div>
          <div style="background-color:lightblue" *ngIf="cell == ' ' && this.colnames[j] && (this.colnames[j].toString().includes('.___1') || this.colnames[j].toString().includes('.___2'))">
            <button style="color:lightblue" mat-stroked-button color="primary" matTooltipPosition="right" aria-tooltip="">
              ______
           </button></div>
           
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">

   
</div>