.outbox {
  width: 70%;
  height: 90%;
  top : 20px;
  //float: right;
  float :none;
  right: 20px;
  left: 14%;
  position: absolute;
  border: 1px solid rgb(231, 231, 240);
  border-radius: 15px;
}
 

.boxleft {
  width: 50%;
  float:left;
  height: 100%;
  border: 1px solid rgb(20, 14, 1);
  background-color: #454aa6;
 border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.boxright {
  width: 50%;
  float:right;
  height: 100%;
  border: 1px solid rgb(22, 8, 2);
  background-color: white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.center {
  display: block;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.centersm{
  display: block;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 20%; 
}
.title-rWOBkv {
  background-color: transparent;
  color: white;
  font-family: inter;
 // font-size: xx-large;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}
.title-black {
  background-color: transparent;
  color: black;
  font-family: inter;
 // font-size: xx-large;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}
.text-line {
  background-color: white;
  color: #0b0101;
  width: 120%;
   
  outline: none;
  outline-style: none;
  font-family: inter;
  font-size: large;
  font-style: normal;
  font-weight: 500;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #0e0101 1px;
  padding: 3px 10px;
}
.txtdiv{
  margin: auto;
  width: 55%;
   
  padding: 10px;
}

.frame-21-bC6iQH {
  align-items: center;
  background-color: #454aa6;
  color:white;
  border-radius: 10px;
  display: flex;
  gap: 1px;
  justify-content: center;
 
  margin: auto;
  width: 50%;
   
  padding: 15px;
  
  width: 120%;
}
.span1-xwX1ta {
  color: blue;
  font-style: normal;
 
}
.span2-xwX1ta {
  color: blue;
  font-style: normal;
  float: right;
  
  left:-250px;
 
}
.smalltext15bold {
  font-family: var(--font-family-roboto);
  font-size:  small;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
}