<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Create Task" [options]="false">
          
            <div class="row">
                
                <div class="col-md-6">
                    <form action="javascript:">
                        <div class="form-group">
                            <label>Task Name</label>
                            <input type="text" name="taskname" [(ngModel)]="taskMainDTO.taskname" class="form-control" placeholder="Enter Taskname">
                        </div>

                        <div class="form-group">
                            <label>File location system1</label>
                            <input type="text" name="filelocation" [(ngModel)]="taskMainDTO.filelocation" class="form-control" placeholder="Browse filelocation" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <div class="custom-file">
                              <input type="file" (change)="onFileSelected1($event)" class="custom-file-input" id="inputGroupFile01">
                              
                            </div>
                             
                          </div>

                        <div class="form-group">
                            <label>File location system2</label>
                            <input type="text" name="filelocation2" [(ngModel)]="taskMainDTO.filelocation2" class="form-control" placeholder="Browse filelocation2" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <div class="custom-file">
                              <input type="file" (change)="onFileSelected2($event)" class="custom-file-input" id="inputGroupFile02">
                              
                            </div>
                             
                          </div>

                        <div class="form-group">
                            <label>Row count</label>
                            <input type="number" name="rowcount" [(ngModel)]="taskMainDTO.rowcount" class="form-control" placeholder="Enter Row count">
                        </div>
                        <br>
                        <div class="form-group">
                             
                            <button type="button" (click)="myClickFunction($event)" class="btn btn-primary" >Submit</button>
                        </div>
<!--                          
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Example textarea</label>
                            <textarea class="form-control" name="responsetext" [(ngModel)] = "responsetext" id="responsetext" rows="10"></textarea>
                        </div> -->
                        
                    </form>
                </div>
            </div>

        </app-card>
    </div>
</div>